<div class="flex-container">
    <button mat-mini-fab color ="primary" routerLink="/funcionario">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <mat-card>
      <form action="" id="main-form" [formGroup]="funcionario" (ngSubmit)="submit()">
  
        <mat-form-field appearance="outline" >
          <mat-label>Nome do Funcionário</mat-label>
          <input type="text" matInput formControlName="nome">
          <mat-error>
            Campo obrigatório!
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" >
          <mat-label>E-mail do Funcionário</mat-label>
          <input type="email" matInput formControlName="email">
          <mat-error>
            <span *ngIf="funcionario.get('email')?.getError('required')">Campo obrigatório!</span>
            <span *ngIf="funcionario.get('email')?.getError('email')">Email Inválido!</span>
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="button" class="btn" (click)="fileInput.click()">Adicionar a foto</button>
        <input type="file" placeholder="Coloque sua foto.." id="file-input" #fileInput formControlName="foto" accent="image/*" (change)="fileChange($event)" >
        <button mat-raised-button color="accent" type="submit" style="margin-top:10px;">Cadastrar</button>
  
      </form>
    </mat-card>
  </div>

  